@import "../assets/styles/variables.scss";


// 首页
.view-home{
	.J-header{
	  background-color: $primary;
	  color: #FFF;
	}
}

// 新闻列表页
.view-news{
	.news-list{
		li{
			background:#fff;
			padding:0.2rem;
			margin-bottom:0.2rem;
			&:last-child{
				margin-bottom:0;
			}
			a{
				color: $text;
				&>span{
					padding-right: 0.2rem;
				}
			}
			
			.title{
				font-size: $fontM;
				color: $primaryLight;
				height: 30px;
				line-height: 30px;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}

// 新闻详情页
.view-newsDetail{
	.c-content{
		padding:10px;
	}
	.pic{
		width:100px;
		height:100px;
		display:block;
		border-radius:50%;
		margin:10px 0;
	}
	.name{
		// font-size:16px;
		font-size: 0.36rem;
	}
	p{
		line-height:30px;
	}
	.tag{
		padding: 0 0.2rem;
		color: #c7254e;
	}
}

// 文章列表
.view-article-list{
	.c-content{
		padding: 0 2%;
	}
	.todo-list{
		&>.item{
			line-height: 0.5rem;	
			font-size:$fontS;	
			padding: 0.1rem 0;
		}
		.name{
			
			color: $primaryLight;
		}
		.body{
			font-size:$fontM;
		}
		.del{
			color: $gray;		
		}
	}
}
.user-form{
	input,select,textarea{
		display: block;
		width: 60%;
		margin: 10px 0;
		font-size:$fontS;
	}
	textarea{
		width: 80%;
		min-height:2rem;
	}
}

.view-form{
	.errors{
		line-height: 30px;
		font-size: 12px;
		color: #f56a00;
		padding: 0 10px;
	}
}

// 团购详情
.view-pro-detail{
	.swipe-wrap{
		position: relative;
		.carousel-item{
			img{
				display: inline-block;
				width: 100%;
				min-height: 100px;
				height:160px;
			}
		}
		.swipe-page{
			position: absolute;
			right: 20px;
			top: 20px;
			background: rgba(0,0,0,.5);
			color: #fff;
			padding: 3px 6px;
			border-radius: 10px;
		}
		.pro-title{
			position: absolute;
			bottom:0;
			background: rgba(0,0,0,.1);
			color:#fff;
			left:0;
			width:100%;
			padding:10px 15px;
			line-height: 16px;
			h4{
				font-size: 16px;
				line-height: 20px;	
			}
		}
	}
	.price-list{
		.price{
			display: inline-block;
			color: #f63;
			position: relative;
			font-size: 21px;
			&:before{
				content: "\A5";
				font-size: 14px;
			}
		}
		.tip{
			
			.am-list-content{
				display: table;
				width: 100%;
			}
			.tip-item{
				width: 50%;
				display: table-cell;
				font-size: 12px;
				text-align: center;
			}
		}
		.buy{
			display: inline-block;
			float: right;
			height: 34px;
			width: 105px;
			color: #fff;
			background-color: #f63;
			border-radius: 5px;
			text-align: center;
			line-height: 35px;
			display: block;
			font-size: 16px;
		}
	}
}
// 购买
.view-pro-buy{
	.J-header{
		background-color: #fff;
		color: #333;
	}
	.pro-title{
		padding: 10px 15px;
		font-size: 14px;
		color: #999;
		.num{
			float: right;
		}
	}
}