// 主色调
$primary: #f56a00 !default;
$primaryLight:#f78e3d !default;
// 辅助色
$minor:#FDD692 !default;
$gray:#999;

// 文字
$text:#333 !default;
$lightText:#999 !default;

$baseSize: 28px !default;
$baseFont: "Microsoft YaHei", 微软雅黑
Helvetica,
STHeiTi,
Arial,
sans-serif !default;
$fontX: 0.24rem !default;
$fontS: 0.28rem !default;
$fontN: 0.3rem !default;
$fontM: 0.32rem !default;
$fontML: 0.36rem !default;
$fontL: 0.4rem !default;